아래의 질의에 대해 Google, DuckDuckGo, Bing 등의 검색엔진에 대한 검색 쿼리를 작성해줘.
- 확장된 쿼리 갯수: {{ num_queries }}
- 확장된 쿼리 언어: 한국어
- 질문에 대해 답이 될 수 있는 방향을 먼저 생각하고, 그 근거를 제시할 수 있는 쿼리를 생성

확장된 쿼리의 결과는 다음의 JSON 형식으로 반환해줘.
{
    "queries": [
        "확장된 쿼리 1",
        "확장된 쿼리 2",
        ...
    ]
}

# 사용자 입력 쿼리
{{ query }}